# Configuration file

~CONFIG_VERSION: 1.10.2-2.6.4

general {
    # Set to true to enable fluid merging when quick transfer recipes
    B:EnableFluidMerge=false

    # Set to false to disable auto inventory check
    B:EnableInventoryCheck=true

    # Add string identifier here to disable quick transfer of certain categories of recipe
    # Names can be found in ListRecipeCategory
    S:ListRecipeBlackList <
     >

    # List of recipe categories for reference, this is maintained by the mod automatically
    # Editing the text here will have no effect
    S:ListRecipeCategory <
        minecraft.crafting
        minecraft.smelting
     >
}


